
html{
    height: 100%;
    overflow: hidden;
}
body{
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
    
}

.hi{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    z-index: -1;
}
.hi h1 {
    margin-top: -300px;
}
.hi, .hi:before{
    background: 50% 50% / cover;
}
.hi::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(1.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}

.hi * { 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}
.zm-header {
    width: 100%;
}


#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: none; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


 /* Section Pick */

  .section-pick {
    background: white;
    padding: 4rem 10%;
  }
  .section-pick-text {
    display: flex;
    align-items: center;
}
.section-pick-text h1 {
    white-space: nowrap;
    font-size: 5rem;
}

.section-pick-text i {
    margin: 0 1rem;
    color: #41EAD4;
}

.section-pick-text p {
   width: 60%;
   margin: 0;
}

.section-pick-menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3rem 0;    
    list-style: none;
}

.section-pick-menu ul li {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid #30524d;
    padding: 0.5rem;
}


.section-pick-menu ul li.active {
    border-bottom: 2px solid #41EAD4;
    color: #41EAD4;
    font-weight: 600;
}

.section-pick {
    background-color: #011627;

}

.section-pick-img {
    display: flex;
    align-items: center;

}

.section-pick-img-wrapper {
    position: relative;


}

.dots {
    position: absolute;
    bottom: -5rem;
    left: -5rem;
}


.vector1, .vector2 {

} 